extends layout

block content
  
  .row.justify-content-center
      .col-md-6
          h1=pet.name
          h3 $#{pet.priceInCents / 100}
          p=pet.species
          img(src=pet.picUrlSq).img-fluid
          p Born on #{pet.birthday}
          p=pet.description
      .col-sm-6
          legend Purchase Pet #{pet.name}
          h6 Enter your card information
          form(action="/charge", method="post", id="payment-form")
            .col-sm-12
                label(for="card-element") Credit or debit card
                #card-element
                span.input-group-btn
                      button(type="submit").btn.btn-primary Submit
                #card-errors(role="alert")
                    
